# Data et Résultats 
data/
plant_model/data/
plant_model/plots/

# scripts de débugage et d'analyse
scripts/debug_sim.m
scripts/fix_soc_algebraic_loop.m
scripts/inspect.m

# Fichiers de compilation MATLAB (Cache)
*.slxc
*.mexw64
slprj/

# Fichiers LaTeX PRIVÉS (Sources et compilation)
*.tex
*.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls